.item-list {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  padding: 8px 40px 8px 40px;
}
.coin-logo {
  height: 20px;
  margin-right: 12px;
}
.coin-name {
  display: flex;
  align-items: center;
}
.currency-info {
  display: flex;
  align-items: center;
}
.name {
  color: white;
  font-size: 11px;
}
.name1 {
  color: white;
  font-size: 11px;
  margin-left: 60px;
}
